.forum_rating_table
{
width:115px;
height:25px;
background-image:url(../images/vote_background.gif);
}

.forum_star
{
width:15px;
background-image:url(../images/vote_star_off.gif);
cursor:pointer;
}


.forum_star1
{
width:15px;
background-image:url(../images/vote_star.gif);
cursor:pointer;
}
.forum_star2
{
width:15px;
background-image:url(../images/vote_star2.gif);
cursor:pointer;
}
.forum_star3
{
width:15px;
background-image:url(../images/vote_star3.gif);
cursor:pointer;
}

.forum_star4
{
width:15px;
background-image:url(../images/vote_star4.gif);
cursor:pointer;
}
.forum_star5
{
width:15px;
background-image:url(../images/vote_star5.gif);
cursor:pointer;
}