/* Widgets */

 .drag
 {
/* border: 1px outset;  */
 cursor: move;
/*  width: 100px;
    
 
 background-color: red;  */
 }
 

 
  .dropp
 {

  height: 50px;
  width: 100%;
 
 
 border: 2px rgb(0,0,0) dashed;
 
background-color: rgb(255,255,204);
 }
 
   .droppDel
 {

  height: 30px;
  width: 100%;
 
 
 border: 2px rgb(0,0,0) dashed;
    text-align: center;
    vertical-align: middle;
    color: white;
  background-color: #FF4451;
  font-size: 17;
 }
 
 
    .hclass
 {
/* width: 150px;
 height: 150px;  */
 background-color: orange;
 }
 
 .widget-del
  {
  text-align: center;
 background-color: rgb(255,255,204);
 border: 1px ridge; 
  
  }         