<html>
<head>
<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<meta name="robots" content="INDEX,FOLLOW">

<title><!--titel--></title>
<!-- Der Copyright-Hinweis ist nicht zu löschen. Ein Entfernen des Copyright/Urheberrecht-Vermerks kann rechtliche Schritte nach sich ziehen -->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->

<!--
Ein Verkauf der Vorlage oder das Anbieten dieser Vorlage ist untersagt.
Die Vorlage kann privat (kostenlos) und kommerziell (gegen Bezahlung) genutzt werden.
Je nach dem Inhalt, welcher eingefügt wird, kann auch für Privatpersonen eine kommerzielle Nutzung vorliegen.
Lesen Sie auf der Webseite www.on-mouseover.de/templates/
bitte die Nutzungsbedingungen nach.
-->
<!--Wird benötigt-->


<link rel="stylesheet" href="template/default/format.css" type="text/css">

</head>
<body bgcolor="#ffffff" text="black" topmargin="10" marginheight="10"  leftmargin="4" marginwidth="4"    >



<link rel="alternate" type="application/rss+xml"
  title="Wiiarena RSS Feed" href="rss.php" />
 

<div align="center">

<table bgcolor="#ffffff"  cellspacing="0" cellpadding="0" border="0" width="100%" >
<tr>
<td  width="100%" ><table   cellspacing="1" cellpadding="0" border="0" width="100%">
<tr>
<!-- beginn kopf1-->
<td  bgcolor="#89A9B8"  width="190" align="center" >
<table width="150" cellspacing="0" cellpadding="0" border="0" bgcolor="#89A9B8" align="center">
<tr>
<td  background="template/default/balken.jpg" width="190"  bgcolor="#89A9B8" class="leiste" >
<table cellspacing="0" cellpadding="0" border="0" width="190" >
<tr>
<td  align="center">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table></td><td background="template/default/balken.jpg" align="center"  width="100%" bgcolor="#89A9B8" class="leiste"   >&nbsp;</td>
<td  bgcolor="#ffffff"  >
<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
<tr>
<td align="center"  background="template/default/balken.jpg" width="190"  bgcolor="#89A9B8" class="leiste" >
<table cellspacing="0" cellpadding="0" border="0" width="190" align="center">
<tr>
<td   align="center"  ></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<!-- ende zeit-->
<!-- ende kopf1-->
</tr>
<tr>
<!-- logo-->
<td  bgcolor="#DAE3E9" align="center" style="border:solid 1px black"   colspan="3"    width="100%" height="102"><!--mainheadline--></td>


</td>
<!-- logo ende-->
</tr>

<!-- beginn kopf2-->
<td  bgcolor="#89A9B8" width="190"  >
<table cellspacing="0" cellpadding="0" border="0"bgcolor="#89A9B8">
<tr>
<td  background="template/default/balken.jpg" width="100%"  bgcolor="#89A9B8" class="leiste" >
<table cellspacing="0" cellpadding="0" border="0" width="190" align="center">
<tr>
<td    >&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table></td>
<td background="template/default/balken.jpg" align="center"  width="100%" bgcolor="#89A9B8" class="leiste"   ><!--headline-->&nbsp;</td>
<td  bgcolor="#ffffff"  >

<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
<tr>
<td align="center"  background="template/default/balken.jpg" width="100%"  bgcolor="#89A9B8" class="leiste" >
<table cellspacing="0" cellpadding="0" border="0" width="190" align="center">
<tr>
<td   >&nbsp;

</tr>
</table>
</td>
</tr>
</table>
</td>
<!-- ende kopf2-->


<tr>
<td bgcolor="#89A9B8" valign="top" width="150" class="nav"   >
<br>

<!--Beginn Rubrik 1 linke Seite-->
<table  width="170" border="0" cellpadding="0" cellspacing="0" bgcolor="#D5E0E6"   id="menu" align="center" style="border:solid 1px black;" >
<tr>
<td class="rubrik">&nbsp;Navigation</td>
</tr>
<tr>
<td ><a href="index.php?site=news" >&raquo;&nbsp;News</a></td>
</tr>
<tr>
<td><a href="index.php?site=user" >&raquo;&nbsp;Mitglieder</a></td>
</tr>
<tr>
<td ><a href="index.php?site=forum" >&raquo;&nbsp;Forum</a></td>
</tr>
<tr>
<td><a href="index.php?site=gb" >&raquo;&nbsp;G&auml;stebuch</a></td>
</tr>
<!--
<tr>
<td >
<a href="index.php?site=videos" >&raquo;&nbsp;Video Galerie</a></td>
</tr>
-->
<tr>
<td >
<a href="index.php?site=download" >&raquo;&nbsp;Download-Area</a></td>
</tr>
<tr>
<td >
<a href="index.php?site=pm&report" >&raquo;&nbsp;Fehler Melden</a></td>
</tr>
<tr>
<td >
<a href="index.php?site=impressum" >&raquo;&nbsp;Impressum</a></td>
</tr>
<!--<br>-->

<!--<br>-->

</table>
<!--Ende Rubrik 1 linke Seite-->





<br>
<!--Beginn Rubrik 2 linke Seite-->

<table  width="170" border="0" cellpadding="0" cellspacing="0"  bgcolor="#D5E0E6"  id="menu" align="center" style="border:solid 1px black;" >
<tr>
<td class="rubrik" width="165">&nbsp;Mitglieder</td>
</tr>
<!--member-->

</table>
<br>



<!--Beginn Rubrik 3 linke Seite-->
<!--
<table bgcolor="#89A9B8"  width="170" border="0" cellpadding="0" cellspacing="0" class="news"  align="center" style="border:solid 1px black" >
<tr>
<td class="rubrik" width="165">&nbsp;Shoutbox</td>
</tr>
<tr> <td style="font-size:7pt;padding:4px;">
<? include("include/shoutbox.php"); ?>
</td>
</tr>
</table>
-->
<!--Ende Menue linke Seite-->
<br><br><br><br><br><br><br><br><br><br><br>


</td>


<td valign="top" bgcolor="#ffffff"  width="100%" height="450" style="border:solid 1px black"  >


<!-- beginn hauptinhaltstabelle--><table border="0" cellpadding="0" cellspacing="0"  width="100%">  
<tr>
<!-- abstand links vom inhalt-->   <td  ><img src="template/default/space.gif" width="20" height="450" border="0" alt=""></td><!-- ende abstand links vom inhalt-->
<td valign="top" width="100%">
<br>
<!-- Inhalt -->

<!--next-->

<br>
<br>
<br>


<!-- ende inhalt-->

</td><!-- abstand rechts vom inhalt-->   <td  ><img src="template/default/space.gif" width="20" height="1" border="0" alt=""></td><!-- ende abstand rechts vom inhalt-->
</tr>
</table><!--ende hauptinhaltstabelle-->

</td>

<td bgcolor="#89A9B8" valign="top" width="150" class="nav" >

<br>

<!--Beginn Rubrik 3 rechte Seite-->
<table bgcolor="#89A9B8"  width="170" border="0" cellpadding="0" cellspacing="0" class="news" id="menu" align="center" style="border:solid 1px black" >
<tr>
<td class="rubrik">&nbsp;Login</td>
</tr>
<tr>
<td >
<!--login-->
</td>
</tr>
</table>
<!--Ende Rubrik 3 rechte Seite-->
<br>
<!--Beginn Rubrik 3.1 rechte Seite-->
<table bgcolor="#89A9B8"  width="170" border="0" cellpadding="0" cellspacing="0" class="news"  align="center" style="border:solid 1px black" >
<tr>
<td class="rubrik">&nbsp;Zeit</td>
</tr>
<tr>
<td >

<div name="uhrzeit" id="uhrzeit"></div>
<script type='text/javascript'>
<!--
function zeit()
{
var heute = new Date();
        var std = heute.getHours();
        var min = heute.getMinutes();
        var sek = heute.getSeconds();


        if(std < 10){std = "0" + std};
        if(min < 10){min = "0" + min};
        if(sek < 10){sek = "0" + sek};
                
        var genzei = std + ":" + min + " " + sek;


        document.getElementById('uhrzeit').innerHTML="<center>"+genzei+"</center>";

        setTimeout("zeit()",1000)
}

zeit();
//-->
</script>     
</td>
</tr>
</table>
<br>

<table bgcolor="#89A9B8"  width="170" border="0" cellpadding="0" cellspacing="0" class="news"  align="center" style="border:solid 1px black" >
<tr>
<td class="rubrik">&nbsp;SVN</td>
</tr>
<tr>
<td >
<center><img src="template/SVN/bild.php" height="100" width="100"></center>
</td>
</tr>
</table>

<!--Ende Rubrik 3.2 rechte Seite-->



<!--Ende Rubrik 4 rechte Seite-->
<br>


<!--
<table  width="170" border="0" cellpadding="0" cellspacing="0" bgcolor="#D5E0E6"   id="menu" align="center" style="border:solid 1px black;" >
<tr>
<td class="rubrik">&nbsp;User Online</td>
</tr>
<tr>
<td >

<!--online>

</td>
</tr>
</table>
<br>
-->

<!--Ende Rubrik 5 rechte Seite-->
<br>



</td>

</tr>
<tr>
<td  bgcolor="#89A9B8" class="leiste" >&nbsp;<a href="index.php?lang=de">Deutsch</a> / <a href="index.php?lang=eng">English</a><span style="font-size:8pt;color:black" ><!--sonstiger Text--></span></td><td bgcolor="#89A9B8" align="center" class="leiste"  valign="top" style="font-size:8pt;color:black" ><!--url--></td><td align="center" bgcolor="#89A9B8" valign="top" class="leiste" >&nbsp;<!--info--></td>
</tr>

</table></td>
</tr>
</table>
</div>

</body>
</html>
<!--js-->
