#!!NAME=anwaerter
#!!AUTOR=MRH


[!=Main!]

<h1>#%bewerbungen#:</h1>

<table class="table">
    <thead>
        <tr>
            <th width="176">#%username#:</th>
            <th width="198">#%name#:</th>
            <th width="186">#%nachname#:</th>
            <th width="373">#%datum#:</th>
            <th width="967">#%bewebungstext#:</th>
            <th width="152">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        #!Content#
    </tbody>
</table>


[!/Main!]

[!=Line!]

<tr>
    <td>#!user#</td>
    <td>#!name#</td>
    <td>#!nachname#</td>
    <td>#!datum#</td>
    <td>#!text#</td>
    <td><a class="btn btn-success" href=index.php?site=anwaerter&register=#!user#>#%yes#</a>/<a class="btn btn-danger" href=index.php?site=anwaerter&delet=#!user#>#%no#</a></td>
</tr>

[!/Line!]