#!!NAME=anwaerter
#!!AUTOR=MRH


[!=Main!]

<p align="center"><font size="4">#%bewerbungen#:</font></p>
<p align="center">&nbsp;</p>

<table border="1" width="671">
  <tr>
    <td width="176">#%username#:</td>
    <td width="198">#%name#:</td>
    <td width="186">#%nachname#:</td>
    <td width="373">#%datum#:</td>
    <td width="967">#%bewebungstext#:</td>
    <td width="152">&nbsp;</td>
  </tr>
  #!Content#
  
</table>


[!/Main!]

[!=Line!]

  <tr>
    <td width="176">#!user#</td>
    <td width="198">#!name#</td>
    <td width="186">#!nachname#</td>
    <td width="373">#!datum#</td>
    <td width="967">#!text#</td>
    <td width="152"><a href=index.php?site=anwaerter&register=#!user#>#%yes#</a>/<a href=index.php?site=anwaerter&delet=#!user#>#%no#</a></td>
  </tr>

[!/Line!]