#!!NAME=ConfigSystem
#!!AUTOR=MRH

[!=Main!]

<form role="form" method="POST" action="index.php?site=config">


    <h1>#%Konfiguration#</h1>

    #!Config#

    <input class="btn btn-success" type="submit" value="Submit" name="sub">
</form>
[!/Main!]


[!=Categorie!]

<b>#%Kategorie#: #!name#</b>  <br /><br />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="auto-style1" width="200">#%name#</th>
            <th class="auto-style1">#%description#</th>
            <th class="auto-style1" width="200">#%Einstellung#</th>
        </tr>
    </thead>
    <tbody>

        #!Config#
    </tbody>
</table>
<br />

[!/Categorie!]

[!=Config!]

<tr class="pluginLine">

    <td>#!name#</td>
    <td><label for="#!name#">#!description#</label></td>
    <td>#!input#</td>

</tr>


[!/Config!]

[!=Input-Textbox!]
<input class="form-control" type="text" id="#!name#" name="config[#!name#]" value="#!value#" />
[!/Input-Textbox!]

[!=Input-Checkbox!]
#V:data : @if(checked, "checked=checked", "")#
<input class="form-control" type="checkbox" id="#!name#" name="config[]" value="#!name#" #!data# />

[!/Input-Checkbox!]

[!=Input-Combobox!]
<select class="form-control" id="#!name#" name="config[#!name#]">
    #!Options#
</select>

[!/Input-Combobox!]

[!=Input-Option!]
#V:data : @if(selected, "selected=selected", "")#
<option value="#!ID#" #!data#>#!value#</option>
[!/Input-Option!]