#!!NAME=Download
#!!AUTOR=MRH

[!=Main!]

  <script type="text/javascript">
  function toggleDetails(element, block)
  {
  	var b = document.getElementById(block);
  	if(b.style.display == 'none')
  	{
  		b.style.display = 'block';  
  	}
  	else
  	{
  		b.style.display = 'none';
 	
  	}
  	
  	return false;
  }
  
  </script>

  <p align="center"><font face="Comic Sans MS" size="6">Download - Area</font></p>
  <p align="center">&nbsp;</p><br>

  #!Data#


[!/Main!]

[!=DL-Cat!]
  <div align="left" style="background-color:#e9e9e9;">
    <p align="left"><strong>
    <a href=# onclick="return toggleDetails(this,'dl#!ID#');">
    #!name#</a>
    #?:katchange : "-- <a href=index.php?site=upload&katchange=#!ID#>Bearbeiten</a> -- <a href=index.php?site=upload&katdel=#!ID#>Löschen</a>"#  
    </strong>:</p>
    
    <div align="left" style="background-color:#e9e9e9; display:block;" id="dl#!ID#">
      <ul>
    
        #!Elements#
    
      </ul>
    </div>
  </div>

[!/DL-Cat!]

[!=DL-Element!]

    <li><a href=index.php?site=download&id=#!ID#>#!titel#</a> 
      #?:change : " -- <a href=index.php?site=upload&filechange=#!ID#>Bearbeiten</a>"#
    </li>

[!/DL-Element!]


[!=DL-Show!]

  <table border="1" width="130" align="center" bordercolor="#9999FF">
    <tr>
      <td>
  <table border="1" width="565" align="center" height="81" bordercolor="#9999FF">
    <tr>
      <td width="141" height="36">
        <p align="center">#%titel#:</p>
      </td>
      <td width="408" height="36">#!titel#</td>
    </tr>
    <tr>
      <td width="141" height="36">
        <p align="center">#%description#:</p>
      </td>
      <td width="408" height="36">#!beschreibung#</td>
    </tr>
    <tr>
      <td width="141" height="36">
        <p align="center">#%uploadedam#:</td>
      <td width="408" height="36">#!datum#</td>
    </tr>
    <tr>
      <td width="141" height="15">
        <p align="center">#%uploadedby#:</td>
      <td width="408" height="15">#!autor#</td>
    </tr>
    <tr>
      <td width="549" height="36" colspan="2">
      
         #?:direct : !DL-But-Direct : !DL-But-DB#
         #?upload : "<p align=center><a href=index.php?site=download&del=#!ID#>Löschen</a>"#
        </td>
    </tr>
  </table>
  
      </td>
    </tr>
  </table>


[!/DL-Show!]

[!=DL-But-DB!]
        <p align="center"><a href="sites/download2.php?id=#!ID#"><img border="0" src="images/download.gif" width="108" height="34"></a><br>

[!/DL-But-DB!]

[!=DL-But-Direct!]

       <p align="center"><a href="downloads/#!path#"><img border="0" src="images/download.gif" width="108" height="34"></a><br>
   
[!/DL-But-Direct!]
