#!!NAME=dragdrop
#!!AUTOR=MRH


[!=Main!]
#@enableWidgetPlacing()#


<script type="text/javascript">

	var widgetController = new WidgetController();
	
	$(document).ready(function()
	{
		
		widgetController.enablePlacing();
		widgetController.setNotPlacedContainer($("#widgetContainer"));
	});

</script>

<div class="widgetContainer" id="widgetContainer">
	#V:widgets : @getWidgets()#
	#L:widgets : !NotPlacedElement#
	
</div>

<div style="width:150px; height:50px">
	<div id="widget_DelWidgets" class="droppDel" valign="middle">#%delet#</div>
</div>

<script type="text/javascript">
	$("#widget_DelWidgets").droppable({
		hoverClass: "hclass",
		drop: function( event, ui ) 
		{
			widgetController.widgetDeleteDropEvent($(this), ui);
		}
	});
</script>

[!/Main!]

[!=NotPlacedElement!]
    <div name="#l:name#" class="widget widgets_not_placed" placeholder="-">
		#l:value#
    </div >

[!/NotPlacedElement!]