#!!NAME=dragdrop
#!!AUTOR=MRH


[!=Main!]

<style>

.widgetContainer
{
	width:40%;
	margin:auto;
  min-height: 100px;
	border:thin orange outset;
	background-color:#FFFFCC;
	
	
}

</style>

<div class="widgetContainer" id="widgetContainer"></div>




 <table width="150" height="50">

<tr>
<td>
<div id="widget_DelWidgets" class="droppDel" valign="middle">Löschen</div>

</td>
</tr>
</table>

<script>


 $( "#widget_DelWidgets" ).droppable(
  {
      hoverClass: "hclass",
			drop: function( event, ui ) {
        
        console.log(ui); 
  			 widgetDeletDropEvent($(this).attr('id'), ui.draggable.attr('id'));

			}
	});


</script>


<div id="info">
</div>

[!/Main!]