#!!NAME=Login
#!!AUTOR=MRH


[!=Login!]
  <form method="POST" action="sites/login.php">
  #%username# <br />
  <input type="text" name="user" size="15" required/><br />
  #%password# <br />
  <input type="password" name="passwort" size="15" required><input type="submit" value="#%loginbutt#" name="login"> <br />
  <a href=index.php?site=register>#%register#</a> 
  <a href=index.php?site=lostpw>#%Passwort vergessen#?</a>   
  </form>
  
[!/Login!]



[!=List!]

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#!username# (#!level#) <b class="caret"></b></a>
        <ul class="dropdown-menu">
            #!Links#
        </ul>
    </li>
</ul>
[!/List!]



[!=Links!]

   <li><a href="sites/login.php?logout">#%Logout#</a></li>                  
   #?adminsite : "<li><a href="index.php?site=admin">#%Administration#</a></li>"#
    <li><a href="index.php?site=pm">#%PM-Menu#</a></li>
    <li><a href="index.php?site=profil">#%editprofile#</a></li>
    #?manage_vote : "<li><a href="index.php?site=vote">#%Umfragen#</a></li>"#
    #@include : "login-temp"#
    #?usedpics : "<li><a href="index.php?site=usedpics">#%Benutzte Bilder#</a></li>"#
    #?manage_subpage : @echo("<li><a href="index.php?site=subpage">", %Unterseiten Verwalten, "</a></li>")#
    #?superadmin : "<li><a href="index.php?site=rights">#%Rechte#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=config">#%Konfiguration#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=plugins">#%Plugin System#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=dragdrop">#%Widget System#</a></li>"#
    [!/Links!]

