#!!NAME=Login
#!!AUTOR=MRH


[!=Login!]
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
        <div class="dropdown-menu">
            <form role="form" method="POST" action="sites/login.php" class="navbar-form" style="width:90%">
                <div class="form-group">
                    <label for="loginUserInput">#%username#</label>
                    <input id="loginUserInput" class="form-control" type="text" name="user" required />
                </div>
                <div class="form-group">
                    <label for="loginPasswordInput">#%password#</label>
                    <input id="loginPasswordInput" class="form-control" type="password" name="passwort" required>
                </div>
                <input type="submit" class="btn btn-success" value="#%loginbutt#" name="login">

            </form>

            <a class="btn btn-default btn-block" href="index.php?site=register">#%register#</a>
            <a class="btn btn-default btn-block" href="index.php?site=lostpw">#%Passwort vergessen#?</a>
        </div>
    </li>
</ul>


[!/Login!]



[!=List!]

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#!username# (#!level#) <b class="caret"></b></a>
        <ul class="dropdown-menu">
            #!Links#
        </ul>
    </li>
</ul>
[!/List!]



[!=Links!]

<li><a href="sites/login.php?logout">#%Logout#</a></li>
   #?adminsite : "<li><a href="index.php?site=admin">#%Administration#</a></li>"#
<li><a href="index.php?site=pm">#%PM-Menu#</a></li>
<li><a href="index.php?site=profil">#%editprofile#</a></li>
    #?manage_vote : "<li><a href="index.php?site=vote">#%Umfragen#</a></li>"#
    #@include : "login-temp"#
    #?usedpics : "<li><a href="index.php?site=usedpics">#%Benutzte Bilder#</a></li>"#
    #?manage_subpage : @echo("<li><a href="index.php?site=subpage">", %Unterseiten Verwalten, "</a></li>")#
    #?superadmin : "<li><a href="index.php?site=rights">#%Rechte#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=config">#%Konfiguration#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=plugins">#%Plugin System#</a></li>"#
    #?superadmin : "<li><a href="index.php?site=dragdrop">#%Widget System#</a></li>"#
    [!/Links!]

