#!!NAME=Error und Info Meldungen
#!!AUTOR=MRH

[!=Error!]
      <div id="errordiv" class="alert alert-danger" style="display:none;"><p align="center"></p></div>
[!/Error!]

[!=Error-Set!]

      <script type="text/javascript">
      
        $('#errordiv').html('<p align="center">ERROR: #!message#</p>').fadeIn();
      
      </script>
      
[!/Error-Set!]

[!=Info!]
      <div id="infodiv" class="alert alert-info" style="display:none;"><p align="center"></p></div>
[!/Info!]

[!=Info-Set!]

      <script type="text/javascript">
      
        $('#infodiv').html('<p align="center">#!message#</p>').fadeIn();
      
      </script>
      
[!/Info-Set!]

[!=Ok!]
      <div id="okdiv" class="alert alert-success" style="display:none;"><p align="center"></p></div>
[!/Ok!]

[!=Ok-Set!]

      <script type="text/javascript">
      
        $('#okdiv').html('<p align="center">#!message#</p>').fadeIn();
      
      </script>
      
[!/Ok-Set!]

