#!!NAME=news
#!!AUTOR=MRH

[!=Main!]

  #!News#
  
  <p align="center"><a href="index.php?site=news&limit=20"><b>#%morenews#</b></a>

  #?newswrite : WriteNews# 
  #?newsedit : StartEditNews# </p>
                                          
[!/Main!]

[!=News!]

<div class="newsbox">
<div class="newsbox_info"><b>#!titel# #!level# #%by# <a href=index.php?site=user&show=#!ersteller#>#!ersteller#</a></b></div>
<div class="newsbox_info_date"><b>  geschrieben am <i>#!datum#</i></b></div>
<div class="newsbox_inhalt">
#!Content#

<br>
 
#!EditNews# #!DeletNews# 
 
</div> 
</div>


[!/News!]


[!=LbSite-Edit!]

  <script type="text/javascript">
  	tinyMCE.init({
  		mode : "textareas",
  		theme : "advanced",
  		plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
		  theme_advanced_buttons1 : "bold,italic,underline,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
		  theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,search,replace,bullist,numlist,outdent,indent,blockquote,undo,redo,link,unlink,anchor,image,cleanup,help,code,insertdate,inserttime,preview,forecolor,backcolor",
		  theme_advanced_buttons3 : "tablecontrols,hr,removeformat,visualaid,sub,sup,charmap,emotions,iespell,media,advhr,ltr,rtl,fullscreen",
		  theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,styleprops,cite,abbr,acronym,del,ins,attribs,visualchars,nonbreaking,template,pagebreak",
  		theme_advanced_toolbar_location : "top",
  		theme_advanced_toolbar_align : "left",
  		theme_advanced_statusbar_location : "bottom",
  		theme_advanced_resizing : true,
  		
  	});
  </script>
  <!-- /TinyMCE -->
  
  <form method="POST" action="index.php?site=news">
  
    <p align="left">Überschrift:<br>
    <input type="text" name="newstitel" size="80" value="#!titel#"></p>
    <input type="hidden" name="newsid" size="80" value="#!site#">
    <p align="left">Datum:<br>
    <input type="text" name="newsdate" size="20" value="#!datum#" #?:datDisabled : "DISABLED" : ""#></p>
    <input type="hidden" name="newstyp" value="Info" />
      <p align="left">
      <!--
      Typ: <select size="1" name="newstyp">
      <option selected>Info</option>
      <option>Event</option>
      <option>Gameserver</option>
      <option>Member</option>
    </select>
    -->
     Level <input type="text" name="newslevel" size="1" value="#!level#"><br>Die Berechtigungen können in der Seite "Rechte" geändert werden. Level 0 bedeutet öffentlich.</p>
    <p align="left">
    <textarea rows="15" name="newstext" cols="74" id="t1">#!newstext#</textarea>
    <button type="submit" name="#!sitename#"> <img src="images/ok.gif"> </button> <button type="reset"> <img src="images/abort.gif"> </button>
  </form>
  

  <a href="#"  id="PL_link" onclick="$('picturelist').style.display=''; $('PL_link').style.display='none'; return false;"> Picture List öffnen</a>

  <div class="picturelist" id="picturelist" style="display:none">
  <div class="picturelist_left" OnMouseOver="picturelist_on = true; picturelist_goleft();" OnMouseOut="picturelist_on = false;" onclick="picturelist_left()"></div><div class="picturelist_holder" id="picturelist_holder"></div><div class="picturelist_right"  OnMouseOver="picturelist_on = true; picturelist_goright();" OnMouseOut="picturelist_on = false;" onclick="picturelist_right()"></div>
  </div>
  
  
  <script>
  picturelist_setdata(new Array (#!picturelist#));
  
  picturelist_print();
  
  </script>


[!/LbSite-Edit!]

[!=LbSite-Del!]

  <p id="highlight">Möchten Sie die Newsmeldung wirklich löschen?</p>
  <table width="100%">
  <tr valign="bottom">
  <td>
  <form method="POST" action="index.php?site=news">
    <p align="center"><input type="hidden" name="newsiddel" size="3" value="#!ID#"><input type="submit" value="Löschen" name="newsdel"></form>
  </td>
  <td>
  </td>
  </tr>
  </table>
  <b>ID:</b> #!ID#<br>
  <b>Newstitel:</b> #!titel#<br>
  <b>Ersteller:</b> #!ersteller#<br>
  <b>


[!/LbSite-Del!]