#!!NAME=news
#!!AUTOR=MRH

[!=Main!]

  #!News#
  
  <p align="center"><a href="index.php?site=news&limit=20"><b>#%morenews#</b></a>

  #?newswrite : WriteNews# 
  #?newsedit : StartEditNews# </p>
                                          
[!/Main!]

[!=News!]

<div class="newsbox">
<div class="newsbox_info"><b>#!titel# #!level# #%by# <a href=index.php?site=user&show=#!ersteller#>#!ersteller#</a></b></div>
<div class="newsbox_info_date"><b>  geschrieben am <i>#!datum#</i></b></div>
<div class="newsbox_inhalt">
#!Content#

<br>
 
#!EditNews# #!DeletNews# 
 
</div> 
</div>


[!/News!]


[!=LbSite-Edit!]
  
  <form method="POST" action="index.php?site=news">
  
    <p align="left">Überschrift:<br>
    <input type="text" name="newstitel" size="80" value="#!titel#"></p>
    <input type="hidden" name="newsid" size="80" value="#!site#">
    <p align="left">Datum:<br>
    <input type="text" name="newsdate" size="20" value="#!datum#" #?:datDisabled : "DISABLED" : ""#></p>
    <input type="hidden" name="newstyp" value="Info" />
      <p align="left">
     Level 
     <select name="newslevel">
	     <option #="0" == level : "selected=selected" : ""#>0</option>
       <option #="1" == level : "selected=selected" : ""#>1</option>
	     <option #="2" == level : "selected=selected" : ""#>2</option>
	     <option #="3" == level : "selected=selected" : ""#>3</option>
	   </select>
     <br>Die Berechtigungen können in der Seite "Rechte" geändert werden. Level 0 bedeutet öffentlich.</p>
    <p align="left">
    <textarea rows="15" name="newstext" cols="74" id="t1">#!newstext#</textarea>
    <button type="submit" name="#!sitename#"> <img src="images/ok.gif"> </button> <button type="reset"> <img src="images/abort.gif"> </button>
  </form>
  

  <a href="#"  id="PL_link" onclick="$('picturelist').style.display=''; $('PL_link').style.display='none'; return false;"> Picture List öffnen</a>

  <div class="picturelist" id="picturelist" style="display:none">
  <div class="picturelist_left" OnMouseOver="picturelist_on = true; picturelist_goleft();" OnMouseOut="picturelist_on = false;" onclick="picturelist_left()"></div><div class="picturelist_holder" id="picturelist_holder"></div><div class="picturelist_right"  OnMouseOver="picturelist_on = true; picturelist_goright();" OnMouseOut="picturelist_on = false;" onclick="picturelist_right()"></div>
  </div>
  
  
  <script>
  picturelist_setdata(new Array (#!picturelist#));
  
  picturelist_print();
  
  </script>


[!/LbSite-Edit!]

[!=LbSite-Del!]

  <p id="highlight">Möchten Sie die Newsmeldung wirklich löschen?</p>
  <table width="100%">
  <tr valign="bottom">
  <td>
  <form method="POST" action="index.php?site=news">
    <p align="center"><input type="hidden" name="newsiddel" size="3" value="#!ID#"><input type="submit" value="Löschen" name="newsdel"></form>
  </td>
  <td>
  </td>
  </tr>
  </table>
  <b>ID:</b> #!ID#<br>
  <b>Newstitel:</b> #!titel#<br>
  <b>Ersteller:</b> #!ersteller#<br>
  <b>


[!/LbSite-Del!]