#!!NAME=PluginSystem
#!!AUTOR=MRH

[!=Main!]

    <div class="pluginContainer">

    <table border="0" width="100%">

	<tr class="pluginHeadline">
		<td>#%name#</td>
		<td>#%Version#</td>
		<td width="10%" align="center">#%Aktiviert#</td>
	</tr>
	
	#!Plugins#

  </table>
<br />
<hr />
#V:langText : %Plugins, die mit einem %s markiert sind, können nicht geändert werden. Das (E) bedeutet, dass dieses Plugin extern, also z.B. über ein Template, eingebunden wurde.#
<font size="2px"><b>#%Information#:</b> #@printf(langText, "<img src="./images/lock.gif" alt="lock" width="12" height="12">")#</font>



</div>


[!/Main!]

[!=Plugins!]

	<tr class="pluginLine" id="plugin-#!ID#">
		<td>
      <div class="pluginName">#!name# #!extern#</div>
      
      #!PluginInfo#
      
    </td>
		<td>
      <div class="pluginVersion">#!version#</div>
    </td>
				<td>
      <div class="pluginData" id="pluginData-#!ID#">

        #!PluginData#
        
    </td>
	</tr>


[!/Plugins!]

[!=PluginInfo!]

             <div class="pluginInfo" tipSticky="1" tip="<b>Autor:</b> #!autor# <br /><b>Homepage:</b> <a href=#!homepage#>#!homepage#</a><br /><b>Notiz:</b> #!notes#">
             </div>

[!/PluginInfo!]


