#!!NAME=pm_edit
#!!AUTOR=MRH

[!=Main!]

<h1>#%newpm#</h1>

#@include("utilities", "TinyMCEInit")#
<form class="form-horizontal" role="form" action="index.php?site=pm&#!site#&post" method="post">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="zu">#%empfaenger#</label>
        <div class="col-sm-10">
            <input class="form-control" name="zu" id="zu" size="80" type="text" value="#!zu#" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="subject">#%betreff#</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="subject" name="Betreff" size="80" value="#!Betreff#" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="text">#%text#</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="text" name="Text">#!Text#</textarea>
        </div>
    </div>
 
    <div class="btn-group">
        <input class="btn btn-primary" type="submit" name="post" value="#%post#">
        <a class="btn btn-danger" href="index.php?site=pm">#%back#</a>
    </div>

    <input name="timestamp" type="hidden" value="#!time#" />
</form>

[!/Main!]