#!!NAME=user_list
#!!AUTOR=MRH


[!=Main!]

 <center><table width="21%" border="0">
  <tr>
    <th scope="col"><div align="center"><span class="Stil2"><a href="index.php?site=pm">PM-Menu</a></span></div></th>
  </tr>
</table></center>

 <script type="text/javascript">
<!-- Begin
function checkAll(field)
{
for (i = 0; i < field.length; i++)
	field[i].checked = true ;
	return false;
}

function uncheckAll(field)
{
for (i = 0; i < field.length; i++)
	field[i].checked = false ;
	return false;
}
//  End -->
</script>


<form action="index.php?site=pm" method="POST" name="selform">
<table width="100%" border="0">
  <tr>
    <th height="25" scope="col"></th>
    <th scope="col">#%absender#:</th>
    <th scope="col">#%betreff#:</th>
    <th scope="col">#%datum#:</th>
    <th scope="col">&nbsp;</th>
  </tr>

  #!Line#
  
  </table>

  <a href="#" onClick="checkAll(document.selform)">Check all</a>
  <a href="#" onClick="uncheckAll(document.selform)">Uncheck all</a>

  <table width="100%" border="0">
    <tr>
      <th width="25%"><input type="submit" name="del" value="#%delet#"><input type="submit" name="mark" value="Als gelesen makieren"></form></th>
      <th width="50%"><a href="index.php?site=pm&new">#%newpm#</a></th>
      <td width="25%"><div align="center"><a href="index.php?site=pm&ausgang">#%postausgang#</a></div></td>
    </tr>
  </table>
  
[!/Main!]


[!=Line!]

   <tr>
    <td scope="col"><div align="center"><input type="checkbox" name="sel[]" value="#!ID#">                                                              </div></td>
    <td scope="col"><div align="center">#!von#</div></td>
    <td scope="col"><div align="center"><a href="index.php?site=pm&read=#!ID#">#!Betreff#</a></div></td>
    <td scope="col"><div align="center">#!Datum#</div></td>
    <td scope="col"><div align="center"></div></td>
   </tr>
      <tr>
      <td scope="col" colspan="5"><hr /></td>
    </tr>

[!/Line!]