#!!NAME=profil_changepw
#!!AUTOR=MRH


[!=Main!]

<form method="POST" action="index.php?site=profil">
  <table border="0" width="318">
    <tr>
      <td width="127">#%oldpw#:</td>
      <td width="175"><input type="password" name="passwortalt" size="24" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="127"></td>
      <td width="175"></td>
    </tr>
    <tr>
      <td width="127">#%newpw#:</td>
      <td width="175"><input type="password" name="passwort" size="24" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="127">#%repnewpw#</td>
      <td width="175"><input type="password" name="passwort2" size="24" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="302" colspan="2">
        <p align="center"><button type="submit" name="pwneu"> <img src="images/ok.gif"> </button></td>
    </tr>
  </table>
  <p align="center">&nbsp;</p>
</form>

[!/Main!]