#!!NAME=profil
#!!AUTOR=MRH


[!=Main!]

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#page1" data-toggle="tab">#%start#</a></li>
    <li><a href="#page2" data-toggle="tab">#%persoenliches#</a></li>
    <li><a href="#page3" data-toggle="tab">#%sonstiges#</a></li>
    <li><a href="#page4" data-toggle="tab">#%clan#</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="page1">
        <table border="0" width="318">
            <tr>
                <td width="300" colspan="2">
                    <p align="center">#%page-intern#:
                </td>
            </tr>
            <tr>
                <td width="125">#%username#:</td>
                <td width="175">#!username#</td>
            </tr>
            <tr>

                <td width="125">#%password#:</td>
                <td width="175"><form method="POST" action="index.php?site=profil"><input type="submit" value="#%changepw#" name="pwändern"></form></td>

            </tr>
            <tr>
                <td width="125">#%avatar#:</td>
                <td width="175">

                    <img border="0" src="./include/image.php?source=usr&id=#!ID#">

                    <form enctype="multipart/form-data" action="index.php?site=userpicchange&id=#!ID#" method="post">
                        <input name="FILE" type="file">
                        <input type="hidden" name="MAX_FILE_SIZE" value="30000">
                        <input type="submit" value="#%upload-picture#" name="sendfiles" />
                    </form>

                </td>

            </tr>
            <tr>
                <td width="125"></td>
                <td width="175"></td>
            </tr>
        </table>

    </div>



    <div class="tab-pane" id="page2">
        <form method="POST" action="index.php?site=profil">
            <table border="0" width="318">
                <tr>
                    <td width="300" colspan="2">
                        <p align="center">#%persoenliches#:
                    </td>
                </tr>
                <tr>
                    <td width="125">#%name#: </td>
                    <td width="175"><input name="name" size="24" value="#!name#"></td>
                </tr>
                <tr>
                    <td width="125">#%nachname#: </td>
                    <td width="175"><input name="nachname" size="24" value="#!nachname#"></td>
                </tr>
                <tr>
                    <td width="125">#%alter#:</td>
                    <td width="175"><input name="alter" size="24" value="#!alter#"></td>
                </tr>
                <tr>
                    <td width="125">#%birthday#:</td>
                    <td width="175"><input name="geburtstag" size="24" value="#!geburtstag#"></td>
                </tr>
                <tr>
                    <td width="125">#%wohnort#:</td>
                    <td width="175"><input name="wohnort" size="24" value="#!wohnort#"></td>
                </tr>
                <tr>
                    <td width="125">#%telephone#:</td>
                    <td width="175"><input name="tel" size="24" value="#!tel#"></td>
                </tr>
                <tr>
                    <td width="125">#%email#:</td>
                    <td width="175">#!email#</td>
                </tr>
                <tr>
                    <td width="125"></td>
                    <td width="175"></td>
                </tr>
                <tr>
                    <td width="300" colspan="2">
                        <p align="center">
                            <button type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
                            <button type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>
                        </p>
                    </td>


                </tr>
            </table>
        </form>

    </div>
    <div class="tab-pane" id="page3">
        <form method="POST" action="index.php?site=profil">
            <table border="0" width="318">

                <tr>
                    <td width="300" colspan="2">
                        <p align="center">#%sonstiges#:
                    </td>
                </tr>


                <tr>
                    <td width="125">#%cpu#:</td>
                    <td width="175"><input type="text" name="cpu" value="#!cpu#" size="24" maxlength="30"></td>
                </tr>
                <tr>
                    <td width="125">#%ram#:</td>
                    <td width="175"><input type="text" name="ram" value="#!ram#" size="24" maxlength="30"></td>
                </tr>
                <tr>
                    <td width="125">#%graka#:</td>
                    <td width="175"><input type="text" name="graka" value="#!graka#" size="24" maxlength="30"></td>
                </tr>
                <tr>
                    <td width="125">#%hdd#:</td>
                    <td width="175"><input type="text" name="hdd" value="#!hdd#" size="24" maxlength="30"></td>
                </tr>

                <tr>
                    <td width="125"></td>
                    <td width="175"></td>
                </tr>
                <tr>
                    <td width="300" colspan="2">
                        <p align="center">
                            <button type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
                            <button type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>
                        </p>
                    </td>
                </tr>
            </table>
        </form>

    </div>
    <div class="tab-pane" id="page4">
        <form method="POST" action="index.php?site=profil">
            <table border="0" width="318">
                <tr>
                    <td width="300" colspan="2">
                        <p align="center">#%clan#:
                    </td>
                </tr>


                <tr>
                    <td width="125">#%clanname#:</td>
                    <td width="175"><input type="text" name="clan" value="#!clan#" size="24" maxlength="30"></td>
                </tr>

                <tr>
                    <td width="125">#%clantag#:</td>
                    <td width="175"><input type="text" name="clantag" value="#!clantag#" size="24" maxlength="30"></td>
                </tr>
                <tr>
                    <td width="125">#%clanhp#:</td>
                    <td width="175"><input type="text" name="clanhomepage" value="#!clanhomepage#" size="24" maxlength="30"></td>
                </tr>
                <tr>
                    <td width="125">#%clanhist#:</td>
                    <td width="175"><textarea rows="2" name="clanhistory" cols="40">#!clanhistory#</textarea></td>
                </tr>

                <tr>
                    <td width="125"></td>
                    <td width="175"></td>
                </tr>
                <tr>
                    <td width="300" colspan="2">
                        <p align="center">
                            <button type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
                            <button type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>
                        </p>
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>


[!/Main!]