#!!NAME=profil
#!!AUTOR=MRH


[!=Main!]

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#page1" data-toggle="tab">#%start#</a></li>
    <li><a href="#page2" data-toggle="tab">#%persoenliches#</a></li>
    <li><a href="#page3" data-toggle="tab">#%sonstiges#</a></li>
    <li><a href="#page4" data-toggle="tab">#%clan#</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="page1">

        <h3>#%page-intern#:</h3>
        <table border="0" width="318">
            <tr>
                <td width="125">#%username#:</td>
                <td width="175">#!username#</td>
            </tr>
            <tr>

                <td width="125">#%password#:</td>
                <td width="175">
                    <form role="form" method="POST" action="index.php?site=profil">
                        <div class="form-group">
                            <input class="btn btn-default" type="submit" value="#%changepw#" name="pwändern">
                        </div>
                    </form>
                </td>

            </tr>
            <tr>
                <td width="125">#%avatar#:</td>
                <td width="175">
                    <div class="thumbnail">
                        <img src="./include/image.php?source=usr&id=#!ID#">
                    </div>
                    <form role="form" enctype="multipart/form-data" action="index.php?site=userpicchange&id=#!ID#" method="post">
                        <div class="form-group">
                            <input class="btn" name="FILE" type="file">
                        </div>
                        <input type="hidden" name="MAX_FILE_SIZE" value="30000">
                        <div class="form-group">
                            <input class="btn btn-default" type="submit" value="#%upload-picture#" name="sendfiles" />
                        </div>
                    </form>

                </td>

            </tr>
            <tr>
                <td width="125"></td>
                <td width="175"></td>
            </tr>
        </table>

    </div>



    <div class="tab-pane" id="page2">
        <form class="form-horizontal" method="POST" action="index.php?site=profil">
            <h3>#%persoenliches#:</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="nameInput">#%name#</label>
                <div class="col-sm-10">
                    <input name="name" class="form-control" id="nameInput" value="#!name#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="nachnameInput">#%nachname#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="nachname" id="nachnameInput" value="#!nachname#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="alterInput">#%alter#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="alter" id="alterInput" value="#!alter#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="geburtstag">#%birthday#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="geburtstag" id="geburtstag" value="#!geburtstag#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="wohnort">#%wohnort#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="wohnort" id="wohnort" value="#!wohnort#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="tel">#%telephone#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="tel" id="tel" value="#!tel#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">#%email#</label>
                <div class="col-sm-10">
                    <p class="form-control-static">#!email#</p>
                </div>
            </div>

            <button class="btn btn-succsess" type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
            <button class="btn btn-warn" type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>

        </form>

    </div>
    <div class="tab-pane" id="page3">
        <form class="form-horizontal" method="POST" action="index.php?site=profil">
            <h3>#%sonstiges#:</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="cpu">#%cpu#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="cpu" id="cpu" value="#!cpu#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="ram">#%ram#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="ram" id="ram" value="#!ram#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="graka">#%graka#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="graka" id="graka" value="#!graka#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="hdd">#%hdd#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="hdd" id="hdd" value="#!hdd#">
                </div>
            </div>


            <button class="btn btn-succsess" type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
            <button class="btn btn-warn" type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>

        </form>

    </div>
    <div class="tab-pane" id="page4">
        <form class="form-horizontal" method="POST" action="index.php?site=profil">
            <h3>#%clan#:</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="clan">#%clanname#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="clan" id="clan" value="#!clan#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="clantag">#%clantag#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="clantag" id="clantag" value="#!clantag#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="clanhomepage">#%clanhp#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="clanhomepage" id="clanhomepage" value="#!clanhomepage#">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="clanhistory">#%clanhist#</label>
                <div class="col-sm-10">
                    <input class="form-control" name="clanhistory" id="clanhistory" value="#!clanhistory#">
                </div>
            </div>

            <button class="btn btn-succsess" type="submit" name="go"><img src="images/ok.gif" alt="#%ok#"></button>
            <button class="btn btn-warn" type="reset" name="go"><img src="images/abort.gif" alt="#%delet#"></button>

        </form>

    </div>

</div>


[!/Main!]