#!!NAME=Register
#!!AUTOR=MRH


[!=Main!]

<form method="POST" action="index.php?site=register">
  <table border="0" width="522">
    <tr>
      <td colspan="2" width="512">
        <p align="center"><font size="5">#%Registrierung#:</font></td>
    </tr>
    <tr>
      <td width="150"></td>
      <td width="365"></td>
    </tr>
    <tr>
      <td width="150">#%username#: *+#</td>
      <td width="365"><input type="text" name="username" size="20" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="150">#%password#: *+#</td>
      <td width="365"><input type="password" name="passwort12" size="20" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="150">#%Passwort bestätigung#: *</td>
      <td width="365"><input type="password" name="passwort212" size="20" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="150">#%name#: *+</td>
      <td width="365"><input type="text" name="name" size="20" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="150">#%nachname#: *+</td>
      <td width="365"><input type="text" name="nachname" size="20" maxlength="20" required></td>
    </tr>
    <tr>
      <td width="150">#%mail#: *</td>
      <td width="365"><input type="text" name="email" size="20" type="email" required  title="#%mail#"></td>
    </tr>
    
      <tr>
      <td width="150">#%wohnort#: +</td>
      <td width="365"><input type="text" name="wohnort" size="20"  maxlength="20"></td>
    </tr>
       <tr>
      <td width="150">#%telephone#: +</td>
      <td width="365"><input type="text" name="tel" size="20"  maxlength="20"></td>
    </tr>  
      <tr>
      <td width="150">#%Geschlecht#: *</td>
      <td width="365"><input type="radio" value="M" checked name="geschlecht">#%Männlich# / <input type="radio" name="geschlecht" value="W"> #%Weiblich#</td>
    </tr> 
    
    <!--
    
    <tr>
      <td width="150">Bewerbungstext: *</td>
      <td width="365" rowspan="2"><textarea rows="2" name="btext" cols="44" required></textarea></td>
    </tr>
    
    -->      

    
    <tr>
    </tr>

    <tr>
      <td width="136"></td>
    </tr>
    <tr>
      <td width="506" colspan="2"></td>
    </tr>
    <tr>
      <td width="506" colspan="2">
        <p align="center"><input type="submit" value="Jetzt registrieren!" name="register"><br><br>
        <font size="2">* #%Pflichtfeld#<br>+  #%Maximal 20 Zeichen#<br>#  #%Mindestens 4 Zeichen#</font></td>
    </tr>
  </table>
</form>

[!/Main!]

