#!!NAME=RechteSystem
#!!AUTOR=MRH

[!=Main!]


<form role="form" method="POST" action="index.php?site=rights">


    <h1>#%Rechte-Verwaltung#</h1>

    #!Levels#



  <input type="hidden" name="levelcount" value="#!levelcount#">
  <input class="btn btn-success" type="submit" value="#%send#" name="sub">
</form>

[!/Main!]


[!=LevelBox!]


<h2>#%Level# #!level#:</h2>
<hr />
 
 #!Categories#

[!/LevelBox!]


[!=Categorie!]

<b>#%Kategorie#: #!name#</b>  <br />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th width="200">#%name#</th>
            <th>#%description#</th>
            <th width="50">#%Aktiviert#</th>
        </tr>
    </thead>
    <tbody>
        #!Rights#
    </tbody>
 </table>
	<br />

[!/Categorie!]

[!=Right!]
    #V:data : @if(checked, "checked=checked", "")#
	<tr>
	
		<td>#!name#</td>
		<td><label for="#!level#-#!name#">#!description#</label></td>
		<td><input class="form-control" type="checkbox" id="#!level#-#!name#" name="right#!level#[]" value="#!name#" #!data# /></td>
	
	</tr>


[!/Right!]