#!!NAME=subpage
#!!AUTOR=MRH


[!=Main!]

	<style type="text/css">
	.subpage_container
	{
	width:600px;
	height:auto;
	margin:auto;	

	border:thin black inset;		
	}



	</style>

	#@include("utilities", "TinyMCEInit")#

	<div class="subpage_container">
	<h3 style="text-align:center">#%Unterseiten Verwalten#</h3>

	<form action="?site=subpage" method="POST">

	<p>#%name#:</p>
	<p> <input name="subpage_name" type="text" value="#!subpage_name#"  #?:edit : "DISABLED"#  pattern="[^ä^ö^ü^ß]*" title="Name ohne die Zeichen &uuml; &ouml; &auml; und &szlig;" /></p>

	<p>#%Template Name#:</p>
	<p>

	#!TemplateSelector#

	</p>

	#?:subpage : !SubpageSelector#

	<hr />

	<div id="SubpageData">

	#!Content#

	</div>

	<a href="#" id="PL_link" onclick="$('#picturelist-#!site#').dialog('open'); return false;"> #%Picture List öffnen#</a>

	#V:pics : @getUsedPics()#
	
	<div class="picturelist" id="picturelist-#!site#" title="#%Picture List#" style="display:none">  
		<div class="usedpics-container" style="height:100%; overflow:auto">
			#L:pics : !Image#
		</div>
	</div>
	  
	<script>
		$('#picturelist-#!site#').dialog({
			autoOpen: false,
			width:650,
			height:300
			
			});

	</script>
	
	<hr />
	<p><input type="submit" name="#!site#" value="#%send#" onClick=" if ($('#templateSelector').find(':selected').attr('value') == '') { alert('Bitte ein Template wählen'); return false; }" /></p>

	<input type="hidden" name="ID" value="#!ID#">
	</form>

	</div>

[!/Main!]

[!=Image!]
	#V:image : @echo(!Image-Content)#
	<span>
		#!image#
	</span>
[!/Image!]

[!=Image-Content!]
	<img src="include/image.php?id=#l:ID#&source=usedpic" width="#l:width#" height="#l:height#">
[!/Image-Content!]


[!=TemplateSelector!]

	<select name="template_name" id="templateSelector" onChange="xajax_subpageTemplateChange($('#templateSelector').find(':selected').attr('value'));" required>
	#!Templates# 
	</select>

[!/TemplateSelector!]


#/ Für die Zuweisung zu den Unterseiten (wegen Navigation) #
[!=SubpageSelector!]

	<p>#%Zugewiesene Unterseite#:</p>
	<p><select name="subpage">#!SubpageOptions#</select></p>
	<p>#%Kategorie#:</p>
	<p><input type="text" name="subpageKat" value="#!SubpageKat#"/></p>
[!/SubpageSelector!]




<!--       Unterseiten          -->
[!=Menu!]

	<a href="?site=subpage&new">#%Eine neue Unterseite erstellen#</a><br>
	<a href="?site=subpage&list">#%Liste der Vorhandenen Unterseiten#</a>

[!/Menu!]


[!=List!]
     <h2>#!headline#</h2>
    <div class="pluginContainer">

    <table border="0" width="100%">

	<tr class="pluginHeadline">
		<td>#%name#</td>
		<td>#%Template#</td>
		<td width="20%" align="center"></td>
	</tr>
	
	#!Elements#

  </table>
</div>
#?:subpage : !List-Subpage-Edit#

[!/List!]

[!=List-Subpage-Edit!]
	<a href=?site=subpage&new&sub&subID=#!subID#>#%Eine neue Unterseite erstellen#</a>
[!/List-Subpage-Edit!]

[!=List_Element!]
	<tr class="pluginLine">
		<td>#!name#</td>
		<td>#!template#</td>
		<td width="10%" align="center">#?:hasChilds : !List-Element-Subpage#<a href="?site=subpage&edit=#!name#"><img src="images/edit.gif" alt="#%edit#"></a><a href="?site=subpage&del=#!ID#"><img src="images/abort.gif" alt="#%delet#"></a></td>
	</tr>

[!/List_Element!]

[!=List-Element-Subpage!]
 <a href="?site=subpage&list&sub=#!ID#" title="#%Unterseiten bearbeiten#"><img src="images/info.gif" alt="#%Unterseiten bearbeiten#"></a>

[!/List-Element-Subpage!]


#/ Templates der Boxen #


[!=CheckBox!]
	<p>#!name#:</p>
	<p> <input type="checkbox" #!checked# name="#!ID#"/> </p>
	<p></p>
[!/CheckBox!]

[!=TextBox!]
	<p>#!name#:</p>
	<p> <input type="text" value="#!value#" name="#!ID#"/> </p>
	<p></p>

[!/TextBox!]

[!=TextArea!]
	<p>#!name#:</p>
	<p><textarea name="#!ID#" cols="45" rows="8">#!value#</textarea></p>
	<p></p>

[!/TextArea!]

[!=ComboBox!]
	<p>#!name#:</p>
	<p><select name="#!ID#">#!Options#</select></p>
	<p></p>
[!/ComboBox!]

[!=ComboBoxOption!]
	<option value="#!ID#" #!selected#>#!value#</option>
[!/ComboBoxOption!]