#!!NAME=Test
#!!AUTOR=MRH


[!=Main!]
    #@echo(data)#
    #V:array : @child(data, "bla")#
    #@child(array, "1")#

[!/Main!]

[!=Main2!]

<br />

is a in array? 
#?:inArray("a", array) : "true" : "false"#  <br />

is x in array? 
#?:inArray("x", array) : "true" : "false"# <br />

#@echo : !Test#
#@echo : blub#


 <br />
 <hr />
#L:array2 : !Loop#




[!/Main2!]

[!=Test!]

Test
#V:blub : inArray("a", array)#

[!/Test!]


[!=Loop!]

#l:name# <br />
#l:V.name#<br />
#l:K# <br />

 

<hr />



[!/Loop!]
