#!!NAME=Test
#!!AUTOR=MRH


[!=Main!]
[!&Import!]
	
	
	#V:title : "Test"#
	#V:name : "User"#
	
	<br />
	Here is your List:<br />
	#V:array : @child(data, "bla")#
	#@echo(array)#
	
	#!test#
	

[!/Main!]


[!=Import!]

	<h1>#!title#</h1>
	
	<b>Hello #!name#, how are you?</b>
	
	#V:test : "1234"#
[!/Import!]



------------------------------------------

[! =Main!]
[!&Main2!]
    #@echo(data)#
    #V:array : @child(data, "bla")#
    #@child(array, "1")#
	
	#!blub#
	
[!/Main!]

[!=Main2!]


<br />

is 1 in array? 
#?:inArray("1", array) : "true" : "false"#  <br />

is 5 in array? 
#?:inArray("5", array) : "true" : "false"# <br />

#@echo : !Test#
#@echo : array#


 <br />
 <hr />
#L:array2 : !Loop#




[!/Main2!]

[!=Test!]

Test
#V:blub : inArray("a", array)#

[!/Test!]


[!=Loop!]

#l:name# <br />
#l:V.name#<br />
#l:K# <br />

 

<hr />



[!/Loop!]
