#!!NAME=Upload
#!!AUTOR=MRH

[!=Main!]


<h1>#%Datei-Manager#</h1>

<a class="btn btn-default btn-lg btn-block" href="index.php?site=download&change">#%Dateien bearbeiten#</a>
<a class="btn btn-default btn-lg btn-block" href="index.php?site=upload&upload">#%Datei hochladen#</a>
<a class="btn btn-default btn-lg btn-block" href="index.php?site=upload&katnew">#%Kategorie erstellen#</a>
<a class="btn btn-default btn-lg btn-block" href="index.php?site=download&katchange">#%Kategorien bearbeiten#</a>



    [!/Main!]


    [!=Upload!]

    #@include("utilities", "TinyMCEInit")#

                #?:update : "" : "<h2>#%Hochladen als#: #!username#</h2>"#

<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?site=upload" method="post">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="titleInput">#%titel#</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="titleInput" name="titel" value="#!titel#" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="levelInput">#%Level#</label>
        <div class="col-sm-10">
            <select class="form-control" name="level" id="levelInput">
                #!levels#
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="fileInput">Datei: </label>
        <div class="col-sm-10">
            #?:update : @echo("<p class=form-control-static>", %Veraendern von Dateien nicht moeglich!, "</p>") : "<input class="form-control" id="fileInput" name=userfile type=file required />"#
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="descriptionInput">#%description#</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="descriptionInput" name="S1">#!beschreibung#</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="categoryInput">Kategorie:</label>
        <div class="col-sm-10">
            <select class="form-control" id="categoryInput" name="kat" required>
                #!kats#
            </select>
            <p class="help-block">
                <a class="btn btn-default" href="index.php?site=upload&katnew">#%Kategorie erstellen#</a>
            </p>
        </div>
    </div>
    #V:buttonLinkValue : @if(update, "changefile", "sendfiles")#
    <button type="submit" class="btn btn-default" name="#!buttonLinkValue#">
        #%send#
    </button>
    <input type="hidden" value="#!ID#" name="ID" />

</form>


    [!/Upload!]


    [!=Kat-Edit!]

    #@include("utilities", "TinyMCEInit")#


<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?site=upload" method="post">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="titelInput">#%titel#</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="titel" size="20" maxlength="20" id="titelInput" value="#!titel#">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="levelInput">#%Level#</label>
        <div class="col-sm-10">
            <select class="form-control" id="levelInput" name="level">
                #!levels#
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="descriptionInput">#%description#</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="S1" id="descriptionInput">#!beschreibung#</textarea>
        </div>
    </div>
    #V:buttonLinkValue : @if(update, "katchange", "katnew")#
    <button class="btn btn-success" type="submit" name="#!buttonLinkValue#">Daten Abschicken</button>
    <input type="hidden" value="#!ID#" name="ID">
</form>




    [!/Kat-Edit!]




    [!=Edit-Levels!]
    #V:equal : @eq(level, aktlevel)#
    #V:data : @if(equal, "selected=selected", "")#
<option value="#!level#" #!data#>
    #!name#
</option>
    [!/Edit-Levels!]

    [!=Option!]
    #V:data : @if(selected, "selected=selected", "")#
<option value="#!ID#" #!data#>
    #!name#
</option>

    [!/Option!]
