#!!NAME=user_list
#!!AUTOR=MRH

[!=Main!]

<p align="center"><font size="5">#%Benutzer#:</font></p>
<p align="center">&nbsp;</p>
<table class="table">

    <thead>
        <tr>


            <th>#%username#:</th>
            <th>#%since#:</th>
            <th>#%name#:</th>
            <th>#%nachname#:</th>

        </tr>
    </thead>
    #!Users#


</table>
[!/Main!]


[!=Users!]
<tr>
    <td><a href=index.php?site=user&show=#!user#>#!user#</a></td>
    <td>#!datum#</td>
    <td>#!name#</td>
    <td>#!nachname#</td>
</tr>

[!/Users!]


