#!!NAME=Vote
#!!AUTOR=MRH


[!=Main!]

<h1>Umfragen</h1>
<br />
<a href=index.php?site=vote&addvote>Neue Umfrage</a><br />
<hr />
#!Votes#


[!/Main!]


[!=Main-Vote-Container!]
#/ Dieser Container wird um die Votes "gestülpt", wenn Sie in der Hauptseite ausgegeben werden #
  <div style="float:left; margin-right:10px; margin-bottom:10px; border: thin black solid;">
  #!Content#
  </div>

[!/Main-Vote-Container!]

[!=Edit-Vote!]

<script type="text/javascript" src="js/votes.js"></script>
<form action="index.php?site=vote" method="post">
<table width="100%" border="0">
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="14%"><strong>#?:update : "Umfrage bearbeiten:" : "Neue Umfrage starten:"#</strong></td>
    <td width="15%"></td>
  </tr>
  <tr>
    <td>Titel</td>
    <td><input type="text" name="titel" id="titel"  size="50" value="#!titel#"  onchange="checkvote(#?:update : "true" : "false"#)"/></td>
    <td><div id="titelwarn">Bitte Geben Sie einen Titel ein.</div></td>
  </tr>
  <tr>
    <td>Antworten:</td>
    <td>
    <table width="100%" border="0" id="answers">
      #!Answers#
      
      #?:update : "" : !Edit-InitialAnswers#
      
    </table>
    
    #?:update : "" : !Edit-MehrAntworten#
    
    <img src="images/add.gif"  onClick="addanswer()"><hr /></td>
    <td><div id="answerwarn">Bitte Geben Sie mindestens 2 Antworten an.</div></td>
  </tr>
  <tr>
    <td>Gültig bis:</td>
    <td>
  
    <input type="hidden" name="day" id="day" size="2" maxlength="2" value="#!tag#" onchange="checkvote(#?:update : "true" : "false"#)"  />
       <input type="hidden" name="month" id="month" size="2" maxlength="2" value="#!monat#" onchange="checkvote(#?:update : "true" : "false"#)" /> 
      <input type="hidden" name="year" id="year" size="4" maxlength="4" value="#!year#"  onchange="checkvote(#?:update : "true" : "false"#)"/> 
       <input type="hidden" name="hour" id="hour" size="2" maxlength="2" value="00"  onchange="checkvote(#?:update : "true" : "false"#)"/>
        <input type="hidden" name="min" id="min" size="2" maxlength="2" value="00"  onchange="checkvote(#?:update : "true" : "false"#)"/>
        <div id="kalender_vote" align="center"></div></td>
      <td><div id="datewarn">Überprüfen Sie die Eingaben</div>
      <br>Aktuelle Auswahl: <div id="aktdate">#!tag#.#!monat#.#!year#</div></td>
  
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div id="post">Bitte beachten Sie die Meldungen</div>
    <input type="hidden" value="#!ID#" name="ID">
    <noscript><br>Überprüfung deaktiviert:<br><input type="submit" name="addvote" id="post" value="Senden" /></noscript></td> <!--<input type="submit" name="button" id="button" value="Senden" />-->
    <td></td>
  </tr>
</table>
</form>


[!/Edit-Vote!]

[!=Edit-InitialAnswers!]
#/ Diese Antwortmöglichkeiten sind da, wenn eine neue Umfrage erstellt wird #
      <tr>
        <td>
            <input type="text" name="antwort[]" id="antwort1" size="50"  onchange="checkvote(#?:update : "true" : "false"#)" /> </td>
      </tr>
        <tr>
        <td>
            <input type="text" name="antwort[]" id="antwort2" size="50"  onchange="checkvote(#?:update : "true" : "false"#)" /> </td>
      </tr>

[!/Edit-InitialAnswers!]

[!=Edit-Antwort!]
#/ Eine Antwort, wenn diese in der Umfrage-Bearbeiten Seite eingebunden wird. #
      <tr>
        <td>
          <input type="text" name="antwort[]" id="antwort#!ID#" size="50"  onchange="checkvote(#?:update : "true" : "false"#)" value="#!value#" /> 
        </td>
      </tr>
[!/Edit-Antwort!]

[!=Edit-MehrAntworten!]
#/ Ausgabe von zwei weiteren Antwortmöglichkeiten, wenn der IE benutzt wird #

    <!--Für die mit IE-->
    <div id="mehrantworten">
    <table width="100%" border="0">
      <tr>
        <td>
            <input type="text" name="antwort[]"  size="50"  /> </td>
      </tr>
        <tr>
        <td>
            <input type="text" name="antwort[]"  size="50"   /> </td>
      </tr>
      
    </table>
    </div>
    
    
         <SCRIPT language="JavaScript">
          <!--
          var BrowserName = navigator.appName;
          var antworten = document.getElementById("mehrantworten");
          
          if (BrowserName!="Microsoft Internet Explorer")
          {
            antworten.style.visibility = 'hidden';
            antworten.style.position = 'absolute';
            antworten.style.top = '0px';
            antworten.style.left = '0px';
          
          }
          //-->
        </script>

[!/Edit-MehrAntworten!]

[!=Vote!]

<table width="160" border="0">
     <tr>
      <td><strong>#!name#</strong></td>
    </tr>
    <tr>
      <td>
      <div id="ergebnisse#!ID#">
        #!content#
      
      
      <p>Bereits <strong> #!votes# </strong>Stimmen abgegeben.<br />
       <input type="button" onclick="xajax_vote_result(#!ID#)" value="Ergebnisse"></p>
      </div>  
      </td>
    </tr>
</table> 
#?manage_vote : !Vote-Edit# 

[!/Vote!]

[!=Vote-List!]

<div id="voteok#!ID#">
        <table width="160">
        #!votes#
        </table>      
        <p>
          #?login : !Vote-DoVote : "<b>Zum Abstimmen müssen Sie sich einloggen!</b>"#
        </p>
</div>



      

[!/Vote-List!]

[!=Vote-Edit!]

     <table width="160">
      <tr>
       <td>
       <a href="index.php?site=vote&editvote=#!ID#">Bearbeiten</a> \ 
        <a href="index.php?lbsite=delvote&vars=#!ID#" class="lbOn">Löschen</a>
       </td> 
      </tr>
      </table> 
[!/Vote-Edit!]

[!=Vote-Element!]

 <tr>
   <td><label  onclick="setvote(#!key#, '#!ID#');">
   <input type="radio" name="answer" value="#!ID#"/>#!value#</label></td>
 </tr>
            
[!/Vote-Element!]


[!=Vote-DoVote!]
          <input type="submit" name="button" id="button" value="Senden" onclick="postvote('#!ID#');" />
          <input type="hidden" name="vote" id="vote#!ID#" />

[!/Vote-DoVote!]

[!=Vote-Out!]
 <br><center><img src=images/alert.gif><br>Abstimmung abgelaufen</center><br>
[!/Vote-Out!]

[!=Vote-Voted!]
 <br><center><img src=images/alert.gif><br>Bereits abgestimmt</center><br>
[!/Vote-Voted!]



[!=Vote-Erg-View!]
  <table width="160" border="0">
        <tr>
          <td width="10">&nbsp;</td>
          <td width="10">&nbsp;</td>
          <td width="65">&nbsp;</td>
        </tr>
        #!votes#
        </table>
        <br />
        <center>
  Basierend auf #!count# Stimmen</center>
        
[!/Vote-Erg-View!]

[!=Vote-Erg-El!]

 <tr>
 <td>#!name#</td>
  <td>#!perc#</td>
   <td><div ><img src="images/balken.png" width="#!width#" height="6"></div></td>
   </tr>

[!/Vote-Erg-El!]




[!=LbSite-Del!]

  <p id="highlight">Möchten Sie die Umfrage wirklich entfernen?</p>
  <table width="100%">
  <tr valign="bottom">
  <td>
  <form method="POST" action="index.php?site=vote">
    <p align="center"><input type="hidden" name="voteiddel" size="3" value="#!vars#"><input type="submit" value="Löschen" name="votedel"></form>
  </td>
  <td>
  </td>
  </tr>
  </table>
  <b>ID:</b> #!ID#<br>
  <b>Titel:</b> #!name#<br>
  <b>
  

[!/LbSite-Del!]